.land-hero-main{
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 5;
}

.land-hero-text-bg{
    color: white;
    font-family: ms2;
    font-size: 20vw;
    margin-bottom: -20vw;
}

.land-hero-logo-top{
    width: 70vw;
    margin-bottom: -37vw;
}

.land-hero-lines-flex{
    display: flex;
    justify-content: space-between;
    width: 94%;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: -1;
}

.land-hero-lines{
    border-left:  0.1px solid rgb(36, 36, 36);
}

.land-hero-logo-bottom{
    width: 25vw;
    margin-bottom: 4vw;
    
}

.land-hero-about-flex{
    background-color: var(--green);
    width: 60vw;
    display: flex;
   align-items: center;
   position: absolute;
   bottom: -3vw;

}



.land-hero-about-text{
    font-size: 12px;
    font-family: ms1;
    color: black;
    margin: 10px;
}

.land-hero-about-arrow{
    height: 30px;
}




@media only screen and (max-width: 768px) {

       .land-hero-main{
   padding-top: 35px;
   height: 80vh;
}

    .land-hero-text-bg{
    color: white;
    font-family: ms2;
    font-size: 20vw;
    margin-bottom: 0vh;
    
}

.land-hero-logo-bottom{
    width: 25vw;
    margin-bottom: -5vw;
    
}
    .land-hero-logo-top{
  width: 80vw;
    margin-bottom: -50vh;
}

.land-hero-logo-bottom{
      width: 30vw;
    margin-top: -8vh;
}

.land-hero-about-flex{
    display: none;

}
}

@media only screen and (max-width: 450px) {

    .land-hero-main{
   padding-top: 35px;
   height: 80vh;
}

    .land-hero-text-bg{
    color: white;
    font-family: ms2;
    font-size: 20vw;
    margin-bottom: 5vh;
    
}

.land-hero-logo-bottom{
    width: 25vw;
    margin-bottom: -5vw;
    
}
    .land-hero-logo-top{
    width: 95vw;
    margin-bottom: -50vh;
}

.land-hero-logo-bottom{
    width: 50vw;
    margin-top: 5vh;
}

.land-hero-about-flex{
    display: none;

}



}