.SltSec3-container{
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.SltSec3-over{
    overflow-x: auto;
    margin: 20px;
}

.SltSec3-Lvl{
    display: flex;
    gap: 10px;
}

.SltSec3-btn{
    background-color: var(--black);
    font-family: ps1;
    color: white;
    padding: 10px 20px;
    min-width: max-content;
}