.Sec7-Title{
      font-family: ps2;
    font-size: 32px;
    margin: 20px;
}

.Sec7-flex{
    display: flex;
    flex-direction: column;
    margin: 20px;
    overflow-x: auto;
    gap: 10px;
}

.Sec7-flex-inner{
    display: flex;
    gap: 10px;
}