.lg-pair1{
    display: flex;
   
}

.lg-pair2-main{
    display: flex;
     flex-direction: column;
     margin: 0px 25px;
}

.lg-pair2-main-head{
    display: flex;
    justify-content: center;
}

.lg-pair2-main-bot{
    display: flex;
    gap: 25px;
}